[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tokenizers = ">=0.5.2"
torch = ">=1.2.0"
tqdm = "*"
numpy = "*"
boto3 = "*"
filelock = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
